.project-text {
    align-self: center;
    color: #fff;
    display: flex;
    flex-direction: column;

    height: 100vh;
    justify-content: center;
    letter-spacing: 0.1rem;
    padding-left: 7%;
    text-shadow: 0rem 0 0.2rem #000;
}

.text-link1 {
    background-color: rgb(187, 90, 231, 0.5);
}

.text-link2 {
    background-color: rgb(0, 0, 138, 0.5);
}

.text-link3 {
    background-color: rgba(19, 97, 80, 0.5);
}

.text-link4 {
    background-color: rgb(74, 12, 90, 0.5);
}

.text-link5 {
    background-color: rgba(99, 123, 216, 0.5);
}

.text-link6,
.text-link7 {
    background-color: rgb(12, 0, 15, 0.5);
}

.text-link1:hover {
    background-color: rgb(80, 18, 109, 0.8);
    transition: 1s;
}

.text-link2:hover {
    background-color: rgb(0, 0, 138, 0.7);
    transition: 1s;
}

.text-link3:hover {
    background-color: rgb(0, 71, 60, 0.7);
    transition: 1s;
}

.text-link5:hover {
    background-color: rgb(16, 27, 76, 0.7);
    transition: 1s;
}

.text-link6:hover,
.text-link7:hover {
    background-color: rgb(12, 0, 15, 0.7);
    transition: 1s;
}

@media screen and (min-width: 0) {
   .project-text {
    width: 100%;
   }

   .text-link4 {
    background-color: rgba(236, 147, 199, 0.1);
}
}

@media screen and (min-width: 618px) {
    .project-text {
     width: 50%;
    }

    .text-link4 {
        background-color: rgb(74, 12, 90, 0.5);
    }
}