.project-title {
    font-size: 5rem;
    margin: 0;
}

.project-name {
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem 0;
}

.project-description {
    font-size: 2rem;
    margin: 1rem 0;
}

.project-link {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem
}

.project-link a {
    color: #fff;
}