.project-text {
    align-self: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-column: 1/2;

    height: 100vh;
    justify-content: center;
    letter-spacing: 0.1rem;
    padding-left: 7%;
    text-shadow: 0rem 0 0.2rem black;
}

.text-link1 {
    background-color: hsl(281, 75%, 63%);
}

.text-link2 {
    background-color: hsl(240, 100%, 27%);
}

.text-link3 {
    background-color: hsl(151, 25%, 47%);
}

.text-link4 {
    background-color: hsl(170, 100%, 26%);
}

.text-link5 {
    background-color: hsl(228, 22%, 60%);
}

.text-link6 {
    background-color: hsl(283, 94%, 27%);
}

.text-link1:hover {
    background-color: hsl(281, 71%, 25%);
    transition: 1s;
}

.text-link2:hover,
.text-link4:hover,
.text-link6:hover {
    filter: brightness(0.9);
    transition: 1s;
}

.text-link3:hover {
    background-color: hsl(170, 100%, 14%);
    transition: 1s;
}

.text-link5:hover {
    background-color: hsl(229, 65%, 18%);
    transition: 1s;
}

@media screen and (min-width: 0) {
   .project-text {
    opacity: 0.7;
    width: 65%;
   }
}

@media screen and (min-width: 480px) {
    
}

@media screen and (min-width: 668px) {
    .project-text {
     opacity: 0.9;
     width: 50%;
    }
}

@media screen and (min-width: 780px) {
    
}
@media screen and (min-width: 912px) {
    
}
@media screen and (min-width: 1024px) {
    
}