.home-description {
    animation: descriptionAnimation 3s;
    font-size: 2rem;
    z-index: 2;
}

.fa-angles-down {
    font-size: 2rem;
    filter: brightness(1.3);
    opacity: 0.7;
    text-align: center;
    z-index: 2;
}

.fade {
    opacity: 0;
}

@media (max-device-width: 736), screen and (orientation: portrait) {
    .home-description {
        margin: 3rem 7% 12rem;
    }

    .fa-angles-down {
        margin-bottom: 2rem;
    }
    
    @keyframes descriptionAnimation {
        from {
            margin-bottom: -20%;
        }
        to {
            margin-bottom: 12rem;
        }
    }
}

@media (max-device-height: 736px), screen and (orientation: landscape) {
    .home-description {
        margin: 1rem 7%;
    }

    .fa-angles-down {
        margin-bottom: 6rem;
    }

    @keyframes descriptionAnimation {
        from {
            margin-bottom: -20%;
        }
        to {
            margin-bottom: 1rem;
        }
    }
}

@media screen and (min-width: 912px) {
    .home-description {
        margin: 3rem 7% 12rem;
    }

    .fa-angles-down {
        margin-bottom: 0;
    }

    @keyframes descriptionAnimation {
        from {
            margin-bottom: -20%;
        }
        to {
            margin-bottom: 12rem;
        }
    }
}