#nav-menu {
    align-items: end;
    display: flex;
    gap: 2rem;
}

#nav-menu a {
    background-color: transparent;
}

#nav-menu a:hover {
    font-weight: bold;
    text-shadow: 0.06rem 0rem;
}

#nav-btn {
    background-color: transparent;
    border: 1px solid;
    border-radius: 50%;
    font-size: 1.2rem;
    height: 4rem;
    padding: 0.7rem;
}

@media screen and (min-width: 0) {
    #nav-menu { 
        font-size: 2rem;
    }
}

@media screen and (min-width: 480px) {
    
}

@media screen and (min-width: 668px) {
    
}

@media screen and (min-width: 780px) {
    #nav-menu{
        flex-direction: row;
        font-size: 2.5rem;

    }
}
@media screen and (min-width: 912px) {
   
}
@media screen and (min-width: 1024px) {
   
}