#nav-menu {
    align-items: end;
    display: flex;
    font-size: 2rem;
    gap: 2rem;
    z-index: 2;
}

#nav-menu a {
    background-color: transparent;
}

#nav-menu a:hover {
    font-weight: bold;
    text-shadow: 0.06rem 0rem;
}

/* #nav-menu a:nth-child(4):hover ~ span {
    display: block;
  }
  

span {
    border: 1px solid var(--color);
    border-radius: 4rem;
    color: var(--color);
    display: none;
    font-size: 1.5rem;
    margin-right: 10%;
    margin-top: 3.5rem;
    padding: 0.3rem;
    position: fixed;
    width: auto;
}
*/
