.footer-name {
    font-family: 'Island Moments', cursive;
    font-weight: bolder; 
}

@media screen and (min-width: 0) {
    .footer-name {
        font-size: 3.5rem;        
        margin-top: 7rem;
    }
}

@media screen and (min-width: 780px) {
    .footer-name {
        font-size: 5rem;        
        margin-top: 7%;
    }    
}

@media screen and (min-width: 912px) {
    .footer-name {
        font-size: 5rem;        
    }
}