footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

@media screen and (min-width: 0) {
    footer {
        height: 10%;
        justify-content: space-between;
        padding-bottom: 5%;
        padding-left: 5%;
    }
}

@media screen and (min-width: 780px) {
    footer {
        height: 5rem;
        padding-bottom: 7%;
        padding-left: 7%;
    }
}

@media screen and (min-width: 912px) {
    footer {
        height: 30rem;
        justify-content: space-evenly;
    }
}
